<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<title>Navia</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<meta name="keywords" content="key, words">	
	<meta name="description" content="Website description">
	<meta name="robots" content="noindex, nofollow"><!-- change into index, follow -->
	
	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS ================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> 
	<link rel="stylesheet" href="assets/css/external.css">
	<link rel="stylesheet" href="assets/css/nps_master.css">

    <!-- Favicon ================================================== -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

<!--  / wrapper \ -->
<section id="wrapper">

    <!--  / header container \ -->
    <header id="headerCntr">
    	<div class="three-color-border">
			<div class="container">
				<div class="logo ">
					<a href="#"><img src="assets/images/Navia-logo.png" alt=""></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>							</button>
				</div>
				<div class="align-box">
					<nav class="custome-nav">
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">products+services</a></li>
								<li><a href="#">about us</a></li>
								<li><a href="#">testimonials</a></li>
								<li><a href="#">careers</a></li>
								<li><a href="#">news</a></li>
								<li><a href="#">contact us</a></li>
								<li class="login-box"><a href class="btn btn-primary btn-lg btn-sm">exit <i class="fa fa-sign-out"></i></a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="container secondmenu">
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown">
					Employers Home
				</a>
			</div>

			<div class="dropdown">
				<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
					Benefits & Info
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/health-care-fsa/">Health Care FSA</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/day-care-fsa/">Day Care FSA</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/limited-health-care/">Limited Health Care FSA</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/hsa/">Health Savings Account (HSA)</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/gonavia-commuter-benefits/">GoNavia Commuter Benefits</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/health-reimbursement-arrangement/">Health Reimbursement Arrangement (HRA)</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/dental-reimbursement-plan/">Direct Reimbursement Plan</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/premium-conversion/">Premium Conversion (POP Plan)</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/benefits/cobra/">COBRA</a>
					</li>
				</ul>
			</div>

			<div class="dropdown">
				<a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
					Tools & Resources
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
					<li>
						<a href="https://www.naviabenefits.com/request-proposal/">Request a Quote</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/new-plan-setup/">New Plan Setup</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/resources/compliance/">Compliance</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/resources/marketing-materials/">Educate your Employees</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/resources/tutorial-videos/">Tutorial Videos</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/resources/forms-documents/">Forms & Documents</a>
					</li>
					<li>
						<a href="https://www.naviabenefits.com/employers/resources/faq/">FAQ</a>
					</li>
				</ul>
			</div>
		</div>

    </header>
    <!--  \ header container / -->

    <!--  / content Container \ -->
    <section id="contentCntr">

    	<div class="homepageCntr">
			<div class="container">
				<div class="middle-box">
					<div class="row mg-x-b20">
						<div class="col-sm-12">
							<h1 class="h1">New Plan Setup<i class="fa fa-question-circle" aria-hidden="true"></i></h1>
						</div>						
					</div>
				</div>
			</div>
		</div>


	    <!--  / getting Box \ -->
	    <article class="gettingBox">
	        <div class="container">
	        	<div class="row"> 
	        		<div class="col-sm-12">
	        			<h1>Plan Overview</h1>
	        		</div>
	        	</div>
	        </div>	
	    </article>
	    <!--  \ getting Box / -->

	    <!--  / contactinfo Box \ -->
	    <article class="space-topbottom60">
	        <div class="container"> 
	        	<div class="row">
	        		<div class="col-md-7 col-sm-6 mg-b30 mg-x-b20">	        			
	        			<div class="plan-overviewbox">
	        				<div class="top-heading">
	        					<h3>Company Profile</h3>	        					
	        				</div>
	        				<div class="profile-info">
	        					<ul class="list-unstyled">
	        						<li>Company Name</li>	
	        						<li>Address</li>	
	        						<li>City, State Zip Code</li>	
	        					</ul>
	        				</div>
	        				<div class="process-info minheight">
	        					<div class="progessbar-info">
	        						<label class="primary-color">Status: incomplete</label>
	        						<div class="progessbar-modify">
		        						<div class="progress progress-incomplete">
										  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 56%;">									
										  </div>
										</div>
										<a href="" class="btn btn-yellow btn-sm btn-x-full" routerLink="company/forms" >modify</a>
									</div>
	        					</div>
	        				</div>
	        			</div>
			        </div>
			        <div class="col-md-5 col-sm-6 mg-b30 mg-x-b20">	        			
	        			<div class="plan-overviewbox">
	        				<div class="top-heading">
	        					<h3>Plan Contacts</h3>
	        				</div>
	        				<div class="profile-info with-edit-close">
	        					<ul class="list-unstyled">
	        						<li>Richard Thomas</li>		        						
	        					</ul>
	        				</div>

	        				<div class="process-info text-right mob-text-center minheight">
	        					<a href="" class="btn btn-secondary equal-width btn-x-full">+ add contact</a>
	        				</div>
	        			</div>
			        </div>
			    </div>

			    <div class="row">
			    	<div class="col-sm-6 mg-b30 mg-x-b20">	        			
	        			<div class="plan-overviewbox">
	        				<div class="top-heading with-icon">
	        					<div class="top-icon">
	        						<span class="icon-HealthCare"></span>
	        					</div>
	        					<h2><strong>FSA</strong></h2>	        					
	        				</div>	        				
	        				<div class="process-info">
	        					<div class="progessbar-info">
	        						<label>Status: not started</label>
	        						<div class="progessbar-modify">
		        						<div class="progress">
										  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">									
										  </div>										  
										</div>
										<a href="" class="btn btn-yellow btn-sm btn-x-full" routerLink="fsa/forms">modify</a>
									</div>
	        					</div>
	        				</div>
	        			</div>
			        </div>
	        		<div class="col-sm-6 mg-b30 mg-x-b20">	        			
	        			<div class="plan-overviewbox">
	        				<div class="top-heading with-icon">
	        					<div class="top-icon">
	        						<span class="icon-DayCareFSA"></span>
	        					</div>
	        					<h2><strong>HSA</strong></h2>	        					
	        				</div>	        				
	        				<div class="process-info">
	        					<div class="progessbar-info">
	        						<label>Status: not started</label>
	        						<div class="progessbar-modify">
		        						<div class="progress">
										  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">									    
										  </div>										  
										</div>
										<a href="" class="btn btn-yellow btn-sm btn-x-full" routerLink="hsa/forms">modify</a>
									</div>
	        					</div>
	        				</div>
	        			</div>
			        </div>
			        
			    </div>			    
	        </div>	
	    </article>
      <!--  \ contactinfo Box / -->
      

      <router-outlet></router-outlet>


		<article class="summery-details space-topbottom60">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-right">
						<a href="" class="btn btn-secondary equal-width-lg equal-width-sm btn-lg btn-x-full">add/remove benefits</a>
						<a href="" class="btn btn-secondary equal-width-lg equal-width-sm btn-lg btn-x-full">summary</a>
						<a href="" class="btn btn-yellow equal-width-lg equal-width-sm btn-lg btn-x-full">submit</a>
					</div>
				</div>
			</div>
		</article>

        
    </section>
    <!--  \ content Container / -->

    <!--  / footer container \ -->
    <footer class="innerFooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="left">
						<div class="footer-sm-logo"></div><!-- 35 X 40 -->
						<p class="copyright">Navia &copy; copyright 2016</p>
						<ul class="list-unstyled list-inline social-links">
						 	<li>
						 		<a class="fb" href></a>
						 	</li>
						 	<li>
						 		<a class="twitter" href></a>
						 	</li>
						 	<li>
						 		<a class="youtube" href></a>
						 	</li>
						 	<li>
						 		<a class="linkedin" href></a>
						 	</li>
						</ul>
						<ul class="list-unstyled list-inline footer-links">
						 	<li>
						 		<a href>Feedback</a>
						 	</li>
						 	<li>
						 		<a href>Help</a>
						 	</li>
						 	<li>
						 		<a href>Privacy Policy</a>
						 	</li>
						 	<li>
						 		<a href>Terms & Conditions</a>
						 	</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <!--  \ footer container / -->
    
</section>
<!--  \ wrapper / -->

<!-- JS ================================================== -->
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>
<!-- <script type="text/javascript" src="assets/js/dropzone.js"></script> -->

<!-- CUSTOM JS ================================================== -->
<script type="text/javascript" src="assets/js/custom.js"></script>

</body>
</html>
